@import url('https://fonts.googleapis.com/css?family=Cousine');

* {
   font-family: 'Cousine', monospace;
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
   box-sizing: border-box;
   font-size: 30pt;
}

html,
body {
   width: 100%;
   height: 100%;
}

.modal {
   width: 100%;
   height: 100%;
   padding: 20px;
}

input {
   width: 100%;
   border: 2px solid;
}

textarea {
   width: 100%;
   height: 300px;
   border: 2px solid;
   padding: 10px;
}

button {
   margin: 20px 0;
   padding: 10px;
   font-size: 20pt;
   border: 2px solid;
   background: transparent;
}

button:hover {
   cursor: pointer;
}

canvas {
   width: 100%;
   height: 100%;
   vertical-align: top;
   position: absolute;
}

.status {
   position: absolute;
   right: 10px;
   top: 10px;
}
